body{
    background-image: url("bg_login.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:100px;
	margin:0;
}
.container{
	background-color:#fff;
	border-radius:10px;
	box-shadow:3px 4px #262626;
	height:450px;
	width:450px;
	max-width:100%;
	overflow:hidden;
}

.upper{
	text-align:center;
	background-color:black;
	padding:20px 20px;
	/* box-shadow:2px 3px black;  */
}
.upper h3{
	color:white;
    font-size: 200%;
    font-family: cursive;
}
.form{
	padding:30px 40px;
}	

.form p{

    text-align:center;
	padding:30px 40px;
}	

/* Username */

.form-control{
	margin-bottom:10px;
	padding-bottom:10px;
	position:relative;
}
.form-control label{
	display:block;
	margin-bottom:5px;
}
.form-control input{
	display:block;
	margin-bottom:5px;
	width:100%;
	border-radius:3px;
}

.form-control i{
	position:absolute;
	top:35px;
	right:10px;
	visibility:hidden;
}

.form-control small{
    visibility:hidden;
    position:absolute;
    top: 56px;
    color:red;
    left:140px;
}

/* Password */
.form-control1{
	margin-bottom:10px;
	padding-bottom:10px;
	position:relative;
}
.form-control1 label{
	display:block;
	margin-bottom:5px;
}
.form-control1 input{
	display:block;
	margin-bottom:5px;
	width:100%;
	border-radius:3px;
}

.form-control1 i{
	position:absolute;
	top:35px;
	right:10px;
	visibility:hidden;
}

.form-control1 small{
    visibility:hidden;
    position:absolute;
    top: 56px;
    color:red;
    left:140px;
}

.form button{
	background-color:black;
	border-radius:4px;
	/* border:2px solid rgb(0, 0, 0); */
	color:#fff;
	width:100%;
	font-size:16px;
}
